{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}  
{% block content %}
  <h1>Books</h1>
<h1>{{context.msg}}</h1><br>

  {% for n in context.books %}
  <a href="/books/single/{{n[0]}}" >{{n[1]}}</a> &nbsp;&nbsp;
  <a href="/books/all/{{context.id}}/{{n[0]}}/addLoan" >Loan</a>&nbsp;&nbsp;
  <a href="/books/del/{{n[0]}}" >Delete</a>&nbsp;&nbsp;<br><br>
  <!-- <a href="{{n[1]}}" >Update</a><br> -->
  {% endfor %}

  <strong><a href="/books/add" class="button">Add New</a></strong>
  <p class="important">
    Welcome to my awesome homepage.
{% endblock %}