{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}  
{% block content %}
  <h1>Details of Book: {{book[1]}}</h1>

  
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{book[1]}}</h5>
      <p class="card-text">ID: {{book[0]}}</p>
      <p class="card-text">Book Name: {{book[1]}}</p>
      <p class="card-text">Author: {{book[2]}}</p>
      <p class="card-text">Published: {{book[3]}}</p>
      <p class="card-text">Type: {{book[4]}}</p>
      <a href="/books/single/{{book[0]}}/upd" class="btn btn-primary">Update Book</a>
    </div>
  </div>


  
   
{% endblock %}